<section class="py-5">
    <div class="container pt-5">
        <div class="row justify-content-center align-items-center pt-5 gy-5 gy-lg-0 px-lg-5 px-2">
            <div class="col-lg-6">
                <div class="d-flex justify-content-center">
                    <img [src]="profileImg" alt="Profile Image" class="img-fluid custom-img"> <!-- إزالة الزوايا المدورة والظل -->
                </div>
            </div>
            <div class="col-lg-6 d-flex flex-column gap-3 text-center text-lg-start">
                <h1>I am an Entry-Level Web Developer</h1> 
                <p>{{aboutMe}}</p> 
                <div class="mt-4">
                    <a class="btn btn-light" href="https://drive.google.com/uc?export=download&id=1lsj8BdY9u4720aC804dhEFru_8R81bpG" target="_blank" rel="noopener">Download CV</a> <!-- إزالة الزوايا المدورة -->
                </div>
            </div>
        </div>
    </div>
</section>
